/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* 头部 */
/* 顶部导航栏 */
.mast_bg {
    /* width: 100%; */
    height: 396px;
    background: url(../images/top.png) no-repeat;
    background-size: 100%;
}

.mast_top {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.217);
    position: absolute;
    top: 0;
    z-index: 9;
    margin: 0 auto;
}

.content1 {
    width: 1020px;
    height: 70px;
    margin: 0 auto;
}

.logn {
    width: 167px;
    height: 70px;
    float: left;
}

.logn_top {
    width: 850px;
    height: 70px;
    float: right;
}

.logn_top li {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
}

.logn_top li span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}

.span1 {
    margin-left: 17px;
}

.logn_top li span {
    display: none;
}

.no_look {
    display: none;
}

.logn_top li:hover span {
    display: block;
}

.logn_top li a {
    color: white;
}

.logn_img {
    margin-top: 10px;
    margin-left: 30px;
}

/* 背景图内部tab切换 */
.tavs1 {
    width: 100%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.71);
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
}

.tab_content {
    width: 1104px;
    height: 280px;
    margin: 0 auto;
}

.tab_div {
    width: 208px;
    height: 120px;
    float: left;
    margin-top: 20px;
    margin-right: 68px;
}

.tab_div div {
    width: 208px;
    height: 90px;
}

.li1 {
    display: block;
    width: 80px;
    height: 50px;
}

.li1:hover .tavs1 {
    display: block;
}


/* 22222222222222222222222 */
.tavs2 {
    width: 100%;
    height: 141px;
    background-color: rgba(0, 0, 0, 0.71);
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
}

.tab_content2 {
    width: 408px;
    height: 141px;
    margin: 0 auto;
}

.tab_div2 {
    width: 130px;
    height: 141px;
    float: left;
}

.tab_div2 div {
    width: 130px;
    height: 111px;
}

.tab_div2:nth-child(1) {
    margin-right: 148px;
}

.li2:hover .tavs2 {
    display: block;
}
.zim_h1{
    width: 500px;
    font-size: 50px;
    color: white;
   position: relative;
   top: 35%;
   left: 26%;
}
.zim_h3{
    width: 500px;
    font-size: 30px;
    color: white;
    position: relative;
    top: 43%;
    left: 26%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* 右侧悬浮导航栏 */
.right_look{
    width: 60px;
    height: 200px;
    box-shadow: 0px 0px 15px 10px grey;
    position: fixed;
    top: 500px;
    right: 10px;
    z-index: 99;
    border-radius: 50px 50px 50px 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}
.exr{
    width: 60px;
    height: 60px;
}
.right_look .exr:nth-child(1){
    background:url(../images/3.png) no-repeat;
    background-position: 11px 21px;
    height: 70px;
}
.right_look .exr:nth-child(1):hover{
    background:url(../images/3-3.png) no-repeat;
    background-position: 11px 21px;
}
.right_look .exr:nth-child(1):hover .right1{
    display: block;
}
.right_look .exr:nth-child(2){
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    background:url(../images/4.png) no-repeat;
    background-position: 11px 21px;
}
.right_look .exr:nth-child(2):hover{
    background:url(../images/4-4.png) no-repeat;
    background-position: 11px 21px;
}
.right_look .exr:nth-child(2):hover .right2{
    display: block;
}
.right_look .exr:nth-child(3){
    background:url(../images/6.png) no-repeat;
    background-position: 11px 21px;
}
.right_look .exr:nth-child(3):hover{
    background:url(../images/6-6.png) no-repeat;
    background-position: 11px 21px;
}
.right_look .exr:nth-child(3):hover .right3{
    display: block;
}
.right1{
    width: 214px;
    height: 95px;
    position: absolute;
    top: 0px;
    right: 94px;
    padding-left: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 10px grey;
    background-color: white;
}
.right1 p{
    line-height: 28px;
}
.right1 p:nth-child(1){
    font-size: 14px;
}
.right1 p:nth-child(2){
    color: #00b259;
}
.right1 p:nth-child(3){
    color: #00b259;
}
.right2{
    width: 234px;
    height: 62px;
    box-shadow: 0px 0px 15px 10px grey;
    position: absolute;
    top: 70px;
    right: 94px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: white;
}
.right2 p{
    line-height: 26px;
}
.right2 p:nth-child(1){
    font-size: 14px;
}
.right2 p:nth-child(2){
    color: #00b259;
}
.right3{
    width: 156px;
    height: 189px;
    position: absolute;
    top: 79px;
    right: 94px;
    background: url(../images/20.jpg) no-repeat;
    background-size: 100%;
    background-position: 0px 33px;
    box-shadow: 0px 0px 15px 10px grey;
    background-color: white;
} 
.right3 p{
    text-align: center;
}

.look{
    display: block;
}
.nolook{
    display: none;
}

/* 内容 */

.out{
    width: 100%;
    background-color: #f9f9f9;
}
.center_out{
    width: 100px;
    background-color: #f9f9f9;
}
.content{
    width: 1208px;
    margin: 0 auto;
}
.tab_divv{
    width: 1208px;
    height: 60px;
    margin-bottom: 20px;
    background-color: white;
}
.tab_divv li{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
.tab_divv li:nth-child(1){
    margin-left: 500px;
}
.tab_divv li span{
    display: none;
    width: 30px;
    height: 4px;
    background-color: #00b259;
}
.center_div{
    width: 1208px;
    height: 694px;
    background-color: #f9f9f9;
    position: relative;
    margin: 0 auto;
}
.center_div1{
    width: 1208px;
    height: 694px;
    background-color: #f9f9f9;
    position: relative;
    margin: 0 auto;
}
.zim_div{
    width: 380px;
    height: 238px;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
    background-color: white;
}
.zim_div1{
    width: 380px;
    height: 129px;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}
.zim_div2{
    width: 380px;
    height: 109px;
}
.gre{
    width: 90px;
    height: 30px;
    background-color: #00b259;
    color: white;
    font-size: 15px;
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 120px;
    margin-top: 30px;
}
.p444{
    font-size: 14px;
    padding-left: 10px;
}
.p111,.p222,.p333{
    line-height: 45px;
    padding-left: 10px;
}
.p222{
    font-size: 15px;
}
.p111{
    font-size: 18px;
    font-weight: 550;
}
.p333{
    color: #00b259;
    font-size: 17PX;
}
.p222 span{
    margin-right: 10px;
}
.span222{
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}

/* 分页表 */
.TT1{
    width: 770px;
    height: 100px;
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    left: 240px;
}
.TT1 p{
    text-align: center;
}
.TT1 span{
    margin-top: 20px;
    margin-right: 10px;
}